.buy {
  position: relative;
  background: $whiteColor;
  &__container {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 960px;
    margin: auto;
    padding-top: 176px;
  }
  &__back {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: "Cabin";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $blackColor;
  }
  &__mask {
    position: absolute;
    width: 1951.27px;
    height: 1721.07px;
    right: 0;
    top: 0px;
    z-index: 0;
  }
}
